.header__left{
    float: left;
    display: flex;
    flex-flow: column wrap;
    gap:10px;
    padding: 30px 0;

    & .header__hotline {
        position: relative;
        display: flex;
        flex-flow: row;
        gap: 5px;
        

        & p {
            color: var(--primary);
            cursor: pointer;
        }

        & p:nth-child(1):hover:before {
            position: absolute;
            top: -10px;
            left: 15px;
            display: block;
        }

        & p:nth-child(2):hover::before {
            position: absolute;
            top: 22px;
            left: 15px;
            display: block;
        }

        & p::before {
            content: "gá»i ngay!";
            display: none;
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
            text-decoration: none;
            color: var(--primary);
            background-color: var(--golden);
            padding: 5px 5px;
            border-radius: 10px;
        }

        

        & span {
            color: var(--gray);
        }

        & .hotline__phone {
           display: flex;
           flex-flow: column nowrap;
            width: 100%;
        }
    }

    & .header__worktime{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid var(--gray);
        padding: 5px 0;   
        
        & p {
            margin: 0;
            color: var(--gray);
        }

        & span {
            color: var(--primary);
        }
    }
}

.header_background{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg-header.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
}

.header__right {
    display: flex;
    float: right;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap:10px;
    padding: 30px 0;

    & .header__language {
        padding: 0;
        margin-bottom: 10px;
        border: 1px solid var(--gray);

        & .show span{
            color: var(--primary);
        }
    }

    & .header__socialmedia {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        & i {
            color: var(--gray);
            font-size: 15px;
        }

        & i:hover {
            color: var(--black);
        }
        
    }

    & .header__smallnav {
        width: 100%;

        & ul {
            width: 100%;
            padding: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        & li {
            position: relative;
            width: 100%;
            text-align: center;
        }
    }
}


.header__smallnav ul > li::after {
    position: absolute;
    right: 2px;
    content: "|";
    clear: both;
}

.header__smallnav ul > li:last-child::after {
    content: "";
    clear: both;
}

