/* BANNER SECTION */

.banner__content {
    position: relative;
}

.banner__image img {
    width: 100%;
}

.banner__button {
    position: absolute;
    top: 78%;
    left: 54%;
    
}

.banner__button button {
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    align-items: baseline;
    color: #c83232;
    border: none;
}

.banner__button button:hover {
    color: var(--white);
    background-color: #c83232;   
}

/* SMARTCHOICE SECTION */
.smartchoice {
    padding: 40px 0;
}
.smartchoice__image {
    margin: 20px 0;
}

.smartchoice_title {
    text-align: center;
    margin: 30px 0;
}

.smartchoice_title h1 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary);
    margin: 10px 0;
}

.smartchoice__title h4 {
    font-size: 24px;
    color: var(--primary);
}

.smartchoice__detail {
    margin-top: 20px;
    text-align: center;
    transition: 0.3s;
}

.smartchoice__button {
    visibility: hidden;
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smartchoice__single {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &:hover .smartchoice__button {
        visibility: visible;
    }

    &:hover .smartchoice__detail {
        margin-top: 10px;
    }
}

.smartchoice__heading h3 {
    text-transform: capitalize;
    font-size: 18px;
    margin: 10px 0
}

.smartchoice__button a {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--golden);
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background-color: var(--golden);
        border: none;
    }
}

.smartchoice__button p{
    margin: 0;
}




/* PHILOSOPHY SECTION */



.philosophy__background {
    background-image: url(../assets/images/philosophy/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    height: 200%;
    position: relative;
}

.philosophy__icon img {
    position: absolute;
    top: -7px;
    left: calc( 50% - 16px );
}
.philosophy__icon img::after {
    content: "";
    clear: both;
}

.philosophy__container {
    padding: 70px 0;
}

.philosophy__picture img{
    box-shadow: -8px 8px rgba(132, 132, 132, 0.418);
}

.philosophy__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.philosophy__title h3{
    color: var(--white);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.philosophy__image {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    
}

.image__icon {
    padding: 10px;
    cursor: pointer;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;

    &:hover {
        background-color: var(--golden);
        border: 1px solid var(--white);
    }

    &:hover img{
        transform: translateY(-37px);   
    }

    &:active {
        border: 1px solid var(--golden);
        
    }
}

.image__icon img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.philosophy__detail {
    text-align: center;
    margin: 20px 0;

    & .image__content {
        display: none;
        transition: 1s;
        color:  var(--white);

        & h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.5;
        }

        & p {
            text-align: justify;
            line-height: 1.7;
        }

    }

    & .active {
        display: block;
        animation: rotate-div 0.5s linear;
    }
}


@keyframes rotate-div {
    0% {
    transform:  rotateX(360deg);
   
    } 50% {
    transform:  rotateX(280deg);
    
    } 100% {
    transform:  rotateX(360deg);
       
    }
}
