.nav__menu {    
    width: 100%;
    
}

.fixed {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 99;
    animation: fade-in-top linear 0.5s;


    & .dropdown__title {
        color: var(--primary);
        font-size: 16px;
    }

    & .nav__logo-hidden {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .contactbar__container {
        display: block;
        animation: fade-in-bottom linear 0.5s;
        
    }
}

.contactbar__container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 50px;
    background-color: #2430688b;
    border-bottom: 3px solid var(--golden);
    z-index: 99;

    & .contactbar__heading {
        width: 100%;
        height: 50px;
        display: flex;
        float: left;
        justify-content: center;
        align-items: center;

        & h5 {
            margin: 0;
            font-size: 14px;
            color: var(--white);
        }
    }

    & .contactbar__hotline {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 301px;
        background: url(../assets/images/foo-phone.png) no-repeat center bottom;
        background-position: top;
        
        & .hotline__icon {
            padding-right: 10px;
            padding-bottom: 10px;
        }

        & .hotline__detail {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding-bottom: 3px;

            & h2 {
                font-size: 18px;
                font-weight: 700;
            }

            & p {
                font-size: 14px;
                text-transform: capitalize;
            }
        }       
    }

    & .contactbar__chatbox {
        display: flex;
        flex-flow: row nowrap;
        float: right;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin-bottom: 2px;
        border-radius: 5px 5px 0 0;
        background-color: var(--primary);
        height: 47px;

        & h3 {
            padding-left: 10px;
            font-size: 16px;
            font-weight: 700;
            color: var(--golden);
            text-transform: uppercase;
           
        }

    }
}

.nav__logo-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: none;
    text-align: center;
    background-color: var(--primary);

    
}

.nav__flexbox {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    color: var(--white);
}

.nav__flexbox li{
    cursor: pointer;
}

.dropdown {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
   
   &:hover .dropdown__title {
    color: gold;
   }

   &:hover .dropdown__menu {
    visibility: visible;
   }
}



.dropdown__title {
    text-decoration: none;
    color: var(--white);
}

.dropdown__menu {
    position: absolute;
    top:60px;
    left: 0;
    visibility: hidden;
    background-color: var(--white);
    color: var(--primary);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.megamenu {
    max-width: max-content;
    min-width: 1000px;
    padding: 20px;
    margin: 0;

    & a {
        text-decoration: none;
    }

    & .megamenu__list {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 20px;
        text-align: left;
        

        .megamenu__logo-left {
            width: 100%;
            padding: 10px 0 10px 50px;            
            background: url(../assets/images/ico-skinrebon.png) no-repeat 10px center;

            & h2 {
                margin: 0;
                color: var(--primary);
                font-size: 20px;
                font-weight: 700;
            }
        }

        .megamenu__logo-right {
            width: 100%;
            padding: 10px 0 10px 50px;            
            background: url(../assets/images/ico-dichvuphauthuat.png) no-repeat 10px center;

            & h2 {
                margin: 0;
                color: var(--primary);
                font-size: 20px;
                font-weight: 700;
            }
        }



        & .megamenu__title {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            float: left;
            list-style: circle;
            
            & a {
                color: var(--black);
            }
            
            & .megamenu__heading {
                width: 100%;
                padding: 10px 0;

                &:hover b{
                    color: var(--primary);
                }
                
                & ul {
                    width: 100%;
                    padding: 0;
                    list-style: none;
                }

                & li {
                    padding: 5px 0;

                    &:hover a {
                        color: var(--primary);
                    }
                }

            }
        }
    }

}

.mobi_nav {
    display: none;
}

@keyframes fade-in-top {
    0% {
    top: -100%;
    
   
    } 50% {
    top: 25px;
    
    
    } 100% {
    top:50px;
    
       
    }
}

@keyframes fade-in-bottom {
    0% {
    bottom: -50px;
    } 

    50% {
    bottom: -25px;  
    } 
    
    100% {
    bottom:0px;          
    }
}